include AUTHORS
include LICENSE
include CHANGELOG
include README.rst
recursive-include puput/locale *.mo
recursive-include puput/static *.js *.css *.otf *.eot *.svg *.ttf *.woff
recursive-include puput/templates *.html
